<div class="">
  {{#each songs}}
  <div>
    <h3>{{song}} ({{album}})</h3>
    Performed by {{artist}} on the album {{album}}
    <button id="delbtn" class="button">Delete</button>
  </div>
  {{/each}}

 
</div>